<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet" />
  
  <style>.style{}</style>
  <title>Document</title>
</head>
<body>
  <div class="card" id="card">
    <img src="{shadow}" alt="" class="shadow">
    <div class="logo text-center">
      <img src="{logo}" alt="">
    </div>
    <div id="sport" class="sport flex items-center justify-center text-upper text-600">{sport}</div>
    <div id="league" class="league text-400 text-center">{league}</div>
    <div class="teams flex">
      <div class="team text-center">
        <img id="team1-img" src="{image1}" alt="">
      </div>
      <img src="{separator}" alt="">
      <div class="team text-center">
        <img id="team2-img" src="{image2}" alt="">
      </div>
    </div>
    <div id="date" class="date text-center text-400">
      {date}
    </div>
    <div id="teams" class="game text-center text-600">
      {game}
    </div>
    <div id="table" class="table table_{tableType}">
      <div class="table__head text-center">{tableHead}</div>
      <div class="table__content">
        <div class="table__item flex items-center justify-between">
          <div class="table__item__name text-400">Bet Amount:</div>
          <div class="table__item__value text-600">{betAmount}</div>
        </div>
        <div class="table__item flex items-center justify-between">
          <div class="table__item__name text-400">Outcome:</div>
          <div class="table__item__value text-600">{outcome}</div>
        </div>
        <div class="table__item flex items-center justify-between">
          <div class="table__item__name text-400">Bet odds:</div>
          <div class="table__item__value text-600">{betOdds}</div>
        </div>
        <div class="table__item flex items-center justify-between">
          <div class="table__item__name text-400">Current odds:</div>
          <div class="table__item__value text-600">{currentOdds}</div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>