@font-face {
  font-weight: 700;
  font-family: 'Fivo Sans Modern';
  font-style: normal;
  src: url('/fonts/fivo-sans-modern/bold.woff2') format('woff2'),
  url('/fonts/fivo-sans-modern/bold.woff') format('woff');
  font-display: swap;
  unicode-range: U+000-5FF; /* Latin glyphs */
}

html {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}

html, body {
  margin: 0;
  width: fit-content;
}

* {
  box-sizing: border-box;
}

.opengraph {
  width: 1200px;
  height: 630px;
  padding: 60px 32px 0 46px;
  background-size: cover;
}

.logo {
  display: block;
  height: 48px;
  margin-bottom: 72px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  padding-right: 80px;
  color: #fff;
  font-size: 60px;
  line-height: 64px;
  font-weight: 700;
  font-family: 'Fivo Sans Modern', sans-serif;
}

.card {
  flex: none;
  width: 560px;
  padding: 24px 8px;
  font-weight: 500;
  background: #1F1F24;
  border: 1px solid #333338;
  box-shadow: 0 9px 44px rgba(0, 0, 0, 0.2);
  border-radius: 18px;
}

.cardTitle {
  margin-bottom: 22px;
  color: #8A8A98;
  text-align: center;
  font-size: 24px;
  line-height: 36px;
}

.teams {
  display: flex;
  align-items: center;
  justify-content: center;
}

.teamImage {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 134px;
  height: 134px;
  background: #27272B;
  border-radius: 50%;
}

.teamImage img {
  display: block;
  width: 80px;
}

.dates {
  padding: 0 48px;
  text-align: center;
}

.date {
  color: #8A8A98;
  font-size: 26px;
  line-height: 28px;
}

.time {
  margin-top: 2px;
  color: #fff;
  font-size: 26px;
  line-height: 36px;
}

.teamNames {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 90px;
}

.teamName {
  padding: 24px 12px;
  color: #fff;
  text-align: center;
  font-size: 28px;
  line-height: 32px;
}
