<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet" />
  <link href="//raw.githubusercontent.com/Azuro-protocol/public-assets/main/fonts/fivo-sans-modern/style.css" rel="stylesheet" />
  <style>
    html, body {
      /*width: 500px;*/
      /*height: 250px;*/
      /*margin: 0;*/
      /*padding: 0;*/
      /*font-family: 'Inter', sans-serif;*/
      /*font-family: 'Fivo Sans Modern', sans-serif;*/
    }
  </style>
</head>
<body>
  <!-- your HTML here -->
</body>
</html>
